.app-ad-title {
  padding: 2em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 2em;
  position: relative;
}

.app-ad-title::before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.app-ad-title .container {
  z-index: 1;
  position: relative;
}

.app-ad-title h1,
.app-ad-title p {
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.navbar {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5em;
}

.carousel-caption {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
