.app-ad-title {
  padding: 2em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 2em;
}

.app-ad-title h1,
.app-ad-title p {
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.navbar {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}
