{% extends "base.html.twig" %}

{% block title %}Creation d'une annonce{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}
  <div class="container">
    <h1>Create a new Ad</h1>

    {{ form_start(form) }}

      {{ form_widget(form) }}      

      <button class="btn btn-success" type="submit">Add a new Ad</button>

    {{ form_end(form) }}
  </div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/ad.js') }}"></script>
{% endblock %}