{% extends "base.html.twig" %}

{% block title %}Forbidden{% endblock %}

{% block body %}
  <div class="container align-items-center">
    <div class="alert alert-danger">Forbidden</div>
  </div>
{% endblock %}